.project
.classpath
.gradle
.settings
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
bin
eclipse
forge-1.8-11.14.3.1450-changelog.txt
gradle
gradlew
gradlew.bat
out
*.iml
*.iws
*.ipr
